.error-message{
  border: 1px solid black;
  text-align: center;
  width: 40%;
  padding: 15px 15px 20px 15px;
  z-index: 100;
  display: block;
  color: #3a000b;
  background: #cccccc;
  font-size: 26px;

}
