.modal--close {
  display: none;
}

.modal--open{
  display: block;
}

.modal__wrapper {
  width: 500px;
  margin: auto;
  border: 1px solid #6f6f6f;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 2000;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 80px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 5px;
}

.modal__title {
  width: 100%;
  padding-bottom: 20px;
  text-align: center;
}

.modal button {
  width: 40%;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #b0b0b0;
  transition: .3s;
}

.modal-btn:hover {
  background-color: #636363;
}

.modal__overlay {
  z-index: 1000;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
